.navbar-brand {
    font-size: 1.35em;
    color: rgb(182, 1, 1) !important;
}

.navbar-brand:hover {
    color: darkred !important;
}

@media screen and (min-width: 470px) {
    .navbar-brand {
        font-size: 2em;
    }
}

.nav-link {
    color: black;
    font-size: 120%;
}

.nav-link:hover {
    color: darkred;
}