.gallery-item {
    height: 180px;
    width: 180px;
    margin: 10px;
    background: white;
    border-radius: 5%;
}

.gallery-item:hover {
    background:#9d9dff5e;
    border-radius: 5%;
}

#img-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}